<%- include("partials/header") %>

<h1>Contact</h1>
<h5>
  <p>
    <i class="fab fa-google"></i
    ><a href="mailto: abhinavkashyap061@gmail.com">
      : abhinavkashyap061@gmail.com</a
    >
  </p>
  <p>
    <i class="fab fa-linkedin"></i>
    <a href="https://www.linkedin.com/in/abhinavkashyap061/"
      >: linkedin.com/abhinavkashyap061</a
    >
  </p>
  <p>
    <i class="fab fa-twitter"></i>
    <a href="https://twitter.com/abhinavstwt">: twitter.com/abhinavstwt</a>
  </p>
  <p>
    <i class="fab fa-instagram"></i>
    <a href="https://instagram.com/abhinavsig">: instagram.com/abhinavsig</a>
  </p>
</h5>
<p><%= contactContent %></p>

<%- include("partials/footer") %>
