
<!--Ionicons-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<!--Google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<footer>
    <ul class="icons">
        <li><a href="https://twitter.com/abhinavkashyyap"><ion-icon name="logo-twitter"></ion-icon></a></li>
        <li><a href="https://www.linkedin.com/in/abhinavkashyap061/"><ion-icon name="logo-linkedin"></ion-icon></a></li>
        <li><a href="https://github.com/abhinavkashyap061"><ion-icon name="logo-github"></ion-icon></a></li>
        <li><a href="mailto:abhinavkashyap061@gmail.com"><ion-icon name="logo-google"></ion-icon></a></li>
    </ul>
    
        <div class="footer-copyright">
            <p>Copyright @ 2022 All Rights Reserved.</p>
        </div>
</footer>
</body>
</html>