@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  background-color: #161a21;
  height: 100%;
}
:root {
  --Verdana: "Verdana", sans-serif;
  --open-sans: "Open Sans", sans-serif;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: #1f2833;
}

.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

nav ul a, nav p {
  color: #C5C6C7 !important;
}

.navbar-brand, .nav-links{
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
}

/* 
==========
LIST
========== 
*/

h1 {
  color: #8192dd;
  padding: 12px;
  font-family: "Open-sans", sans-serif;
}
#heading {
  /* background-color: #d9e1ec; */
  text-align: center;
}

.box {
  max-width: auto;
  margin: 30px auto;
  background: #1f2833;
  border-radius: 5px;
  /* box-shadow: 10px 5px 20px -5px #66fcf1; */
  display: flex;
  flex-direction: column;
}

form.item {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.item {
  min-height: 50px;
  border-bottom: 1px solid #f1f1f1;
}
.item:hover {
  cursor: pointer;
}
.item:last-child {
  border-bottom: 0;
}

input[type="checkbox"] {
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  transform: translateY(-0.075em);
  margin: 20px;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}

p {
  /* margin: 0; */
  /* padding: 20px; */
  font-size: 20px;
  font-weight: 200;
  color: #66fcf1;
  font-family: "Open-sans", sans-serif;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #45a29e;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border-radius: 10px;
  border: none;
  background: #0b0c10;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  color: #66fcf1;
  font-family: "Open-sans", sans-serif;
  margin-bottom: 20px;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #66fcf1;
}
::placeholder {
  color: #45a29e;
  opacity: 1;
  font-family: "Open-sans", sans-serif;
}

button {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  border-color: transparent;
  background-color: #66fcf1;
  color: #45a29e;
  font-size: 30px;
  border-width: 0;
  margin-bottom: 20px;
  margin-left: 12px;
  transition: all 0.5s ease;
}

button:hover {
  background: #cbfffd;
  cursor: pointer;
}

/* 
==========
FOOTER
========== 
*/

footer {
  background-color: #2a2d38;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  margin-top: auto;
}

footer li {
  list-style: none;
  margin: 10px;
  display: inline-block;
}

.icons a {
  background: auto;
  color: #f0f0f0;
  padding: 10px;
  font-size: 25px;
  border-radius: 100%;
  display: flex;
}
.icons a:hover {
  color: #2e7de4;
  transition: 0.5s;
}

.footer-copyright {
  color: #ffffff;
  text-transform: capitalize;
}

.footer-copyright p {
  margin-bottom: 20px;
  font-size: 15px;
}

/*
==========
NAVBAR
========== 
*/

@media screen and (max-width:750px) {
  #home{
      margin-top: 6rem;
  }
  .nav-links{
      text-align:left;
      margin-left: 2rem;
  }
}

.nav-links{
  position: relative;
}

.nav-links::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  /* background-color: #1abc9c; */
  background-color: #0CBABA;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-links:hover{
  zoom: 105%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar-brand:hover{
  zoom: 110%;
  margin-top: 5px;
  margin-bottom: 5px;
}


.navbar-brand
{
  text-transform: uppercase;
  background-image: linear-gradient(
  -225deg,
  /* #18ea37 0%, */
  #380036 0%,
  /* #2cb5a9 29%, */
  /* #398a21 67%, */
  /* #128cbc 100% */
  #0CBABA 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
